<a href="https://colab.research.google.com/github/SobanAliAwan/PYTHON-FUNDAMENTALS-2/blob/main/Array_Interview_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Points to remember

- Codes asked are relatively easier in comparison to SDE roles
- Pythonic syntax is preferred in most companies
- Focus is on optimized code
- Start with the simplest solution and then improve
- A lot of questions are repeated so mugging up the approaches help
- Build intuition using Python Tutor

In [1]:
# 1. Find the kth largest/smallest item from a list

L = [12,23,1,4,56,34,22,3]
k=3

L.sort(reverse=True) # arranged in decending order [56,34,23......]
print(L[k-1]) # 3-1 = 2 means nummber on 2 index position

23

In [2]:
# 2. Check if an array is sorted
L = [1,2,3,4,5]

print("sorted" if L == sorted(L) else "not sorted")

sorted

check if array is sorted in descendign order or not

In [4]:
l = [9,8,7,6,5,4,3,2,1]

print("sorted" if l == sorted(l, reverse = True) else 'not sorted')

sorted

In [ ]:
# 3. Find Min/Max in a given array

L = [21,1,34,23,54,11,10]

max_val = L[0]

for i in L:
  if i > max_val:
    max_val = i

print(max_val)

54

In [7]:
# 4. Find the first element to occur k times in an array

L = [1,1,2,3,4,4,5,5]

k = 2

d = {}

for i in L:
  if i in d:
    d[i] = d[i] + 1
  else:
    d[i] = 1

for i in d:
  if d[i] == k:
    print(i)
    break

1

In [8]:
# 5. Find duplicates in an array
L = [1,1,2,3,4,4,5,5]

for i in range(len(L)):
    for j in range(i + 1, len(L)):
        if L[i] == L[j]:
            print(L[j])

1
4
5

In [ ]:
# 6. Rotate array to left d items

L = [1,2,3,4,5]
rotate = 2

for i in range(rotate):
  temp = L[0]
  for j in range(0,len(L)-1):
    L[j] = L[j+1]
  L[len(L)-1] = temp

print(L)

[3, 4, 5, 1, 2]

In [ ]:
# 7. Find intersection of 2 sorted arrays

a = [1,2,3,4,5,8]
b = [3,6,7,8]

for i in a:
  if i in b:
    print(i)

3
8

In [ ]:
a = [1,2,3,4,5,8]
b = [3,6,7,8]

i=j=0

while i<len(a) and j<len(b):
  if a[i] == b[j]:
    print(a[i])
    i+=1
    j+=1
  elif a[i] > b[j]:
    j+=1
  else:
    i+=1

3
8

In [ ]:
# 8. Find continous subarray with a given sum(given non-negative numbers)
# return the starting and ending index of the subarray
# return 1st subarray in case of multiple

L = [1,22,13,7,9,11,10]
S = 16

for i in range(0,len(L)):
  subarray = []
  for j in range(i,len(L)):
    subarray.append(L[j])
    if sum(subarray) == S:
      print(subarray)

[11, 10]

In [ ]:
L = [1,22,13,7,9,11,10]

S = 35

d = {}
curr_sum = 0

for i in range(len(L)):
  curr_sum = curr_sum + L[i]

  if (curr_sum - S) in d:
    print(d[curr_sum - S]+1,i)
    break

  d[curr_sum] = i

1 2

In [ ]:
# 9. Find element with left side smaller/right side greater in an array

L = [3,1,2,5,8,7,9]

for i in range(1,len(L)-1):
  flag = True

  for j in range(0,i):
    if L[j] > L[i]:
      flag = False

  for k in range(i+1,len(L)):
    if L[k] < L[i]:
      flag = False

  if flag:
    print(L[i])

In [ ]:
L = [3,1,2,5,8,7,9]

for i in range(1,len(L)-1):
  if max(L[:i]) < L[i] < min(L[i+1:]):
    print(L[i])

5

In [ ]:
L = [3,1,2,5,8,7,9]

max_arr = []
min_arr = []

max_val = L[0]
min_val = L[-1]

for i in L:
  if i>max_val:
    max_val = i
  max_arr.append(max_val)

for i in range(len(L)-1,-1,-1):
  if L[i] < min_val:
    min_val = L[i]

  min_arr.insert(0,min_val)


for i in range(1,len(L)-1):
  if max_arr[i-1] < L[i] < min_arr[i+1]:
    print(L[i])

5

In [ ]:
# 10. Maximum sum subarray
L = [-2,4,7,-1,6,-11,14,3,-1,-6]

d = {}

for i in range(0,len(L)):
  subarray = []
  for j in range(i,len(L)):
    subarray.append(L[j])
    d[sum(subarray)] = subarray

max_val = max(d.keys())

for i in d:
  if i == max_val:
    print(d[i])

[4, 7, -1, 6, -11, 14, 3, -1, -6]

In [ ]:

L = [-2,4,7,-1,6,-11,14,3,-1,-6]


curr_sum = 0
curr_seq = []
best_sum = L[0]
best_seq = []

for i in L:
  if i + curr_sum > i:
    curr_sum = curr_sum + i
    curr_seq.append(i)
  else:
    curr_sum = i
    curr_seq.clear()
    curr_seq.append(i)

  if curr_sum > best_sum:
    best_sum = curr_sum
    best_seq = curr_seq

print(best_sum,best_seq)

22 [4, 7, -1, 6, -11, 14, 3, -1, -6]

In [1]:
# 11. Sort arrays with items 1 and 0
L = [1, 0, 1, 0, 1, 0, 0, 1]
L.sort()
print(L)

[0, 0, 0, 0, 1, 1, 1, 1]

In [2]:
# 12. Move all -ve numbers to the end
L = [1, -2, 3, -4, 5, -6]

# Separate positives and negatives
positives = [x for x in L if x >= 0]
negatives = [x for x in L if x < 0]

# Concatenate the two
result = positives + negatives

print(result)

[1, 3, 5, -2, -4, -6]

In [5]:
# 13. Maximum Product Subarray.
def max_product_subarray(nums):
    if not nums:
        return 0

    max_prod = nums[0]
    min_prod = nums[0]
    result = nums[0]

    for i in range(1, len(nums)):
        curr = nums[i]

        # If current number is negative, swap max and min
        if curr < 0:
            max_prod, min_prod = min_prod, max_prod

        max_prod = max(curr, curr * max_prod)
        min_prod = min(curr, curr * min_prod)

        result = max(result, max_prod)

    return result

In [3]:
# 14. Find union of 2 arrays
arr1 = [1, 2, 3, 4]
arr2 = [3, 4, 5, 6]

union = list(set(arr1) | set(arr2))  # or: set(arr1 + arr2)

print("Union:", union)

Union: [1, 2, 3, 4, 5, 6]

In [6]:
# 15. Find Pythagorean triplets in an array
# Input array
arr = [3, 1, 4, 6, 5, 10, 8]

# Step 1: Generate all possible triplets where a^2 + b^2 = c^2
triplets = [
    (a, b, c)
    for a in arr
    for b in arr
    for c in arr
    if a != b and b != c and a != c and a * a + b * b == c * c
]

# Step 2: Remove duplicates by sorting each triplet and using a set
unique_triplets = set(tuple(sorted(t)) for t in triplets)

# Step 3: Print the result
if unique_triplets:
    for triplet in unique_triplets:
        print("Pythagorean triplet found:", triplet)
else:
    print("No Pythagorean triplet found.")

Pythagorean triplet found: (6, 8, 10)
Pythagorean triplet found: (3, 4, 5)