<a href="https://colab.research.google.com/github/SobanAliAwan/PYTHON-FUNDAMENTALS-2/blob/main/Python_Fundamentals_2_Session_2_Tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [1]:
# write your code here

from collections import defaultdict

# Sample input
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]

# Dictionary to hold grouped items
grouped = defaultdict(list)

# Grouping by the first element
for tpl in test_list:
    key = tpl[0]
    grouped[key].extend(tpl[1:])

# Creating the final result
result = [(key, *values) for key, values in grouped.items()]

# Output
print(result)

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [ ]:
# write your code here
# Given input tuple
input_tuple = (1, 5, 7, 8, 10)

# Convert to list for easier indexing
lst = list(input_tuple)

# Empty list for result
result = []

# Loop through each index
for i in range(len(lst)):
    if i == 0:
        # First element: multiply with next
        result.append(lst[i] * lst[i + 1])
    elif i == len(lst) - 1:
        # Last element: multiply with previous
        result.append(lst[i] * lst[i - 1])
    else:
        # Middle elements: multiply with both neighbors
        left = lst[i] * lst[i - 1]
        right = lst[i] * lst[i + 1]
        result.append(left + right)

# Convert back to tuple
output_tuple = tuple(result)

# Print the result
print(output_tuple)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [4]:
# write your code here
t1 = (1,2,3,0)
t2 = (0,1,2,3)

print("Same" if t1 == t2 else "Not same")

Not same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [5]:
# write your code here
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
set_count = 0
list_count = 0
tuple_count = 0

for item in list1:
  if isinstance(item,set):
    set_count += 1
  elif isinstance(item,list):
    list_count +=1
  else:
    tuple_count +=1

print("List-",list_count)
print("Set-",set_count)
print("Tuples-",tuple_count)

List- 2
Set- 2
Tuples- 1

Problem: Count the Number of Integers, Strings, and Floats in a List

You are given a list that contains different data types.
Your task is to count how many integers, strings, and floats are present in the list.

mixed_list = [1, "hello", 3.14, 42, "world", 2.71, 100, "Python"]

In [7]:
mixed_list = [1, "hello", 3.14, 42, "world", 2.71, 100, "Python"]

set_integer = 0
set_string = 0
set_float = 0

for item in mixed_list:
  if isinstance(item,int):
    set_integer +=1
  elif isinstance(item,str):
    set_string +=1
  else:
    set_float +=1

print("Integer-",set_integer)
print("String-",set_string)
print("Float-",set_float)

Integer- 3
String- 3
Float- 2

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [8]:
# write your code here
# Step 1: Take number of student records
n = int(input("Enter No of records: "))
students = []

# Step 2: Input each student record
for i in range(n):
    print(f"\nEnter Details of student-{i+1}")
    name = input("Enter Student name: ")
    education = input("Enter Higher Education: ")
    skill = input("Enter Primary Skill: ")
    graduation = input("Enter Year of Graduation: ")

    # Store as tuple
    students.append((name, education, skill, graduation))

# Step 3: Input job role requirement
print("\nEnter Job Role Requirement")
req_skill = input("Enter Skill: ")
req_edu = input("Enter Higher Education: ")
req_grad = input("Enter Year of Graduation: ")

# Step 4: Check and print matching candidates
found = False
print("\nMatching Candidates:")
for student in students:
    name, education, skill, graduation = student
    if skill == req_skill and education == req_edu and graduation == req_grad:
        print(student)
        found = True

if not found:
    print("No such candidate")

Enter No of records: 2

Enter Details of student-1
Enter Student name: shah hassan
Enter Higher Education: BS
Enter Primary Skill: Business finance
Enter Year of Graduation: 2028

Enter Details of student-2
Enter Student name: soban ali awan
Enter Higher Education: BS
Enter Primary Skill: Data Science
Enter Year of Graduation: 2028

Enter Job Role Requirement
Enter Skill: Ai engineer
Enter Higher Education: BS
Enter Year of Graduation: 2028

Matching Candidates:
No such candidate

Industry-Based Problem: Shortlist Job Applicants for an Interview
Scenario:
You are working for an HR software platform used by tech companies. The HR manager wants to filter candidates based on:

Minimum years of experience

Required technology (skill)

Preferred location

Each applicant's record contains:

Name

Experience (in years)

Skills (comma-separated string)

Location

In [12]:
# write your code here
# Step 1: Take number of employee records
n = int(input("Enter No of records: "))
employees = []

# Step 2: Input each employee record
for i in range(n):
    print(f"\nEnter Details of employee-{i+1}")
    name = input("Enter applicant name: ")
    experience = int(input("Enter Experience (in years): "))
    skill = input("Enter Skill: ")
    location = input("Enter location: ")

    # Store as tuple
    employees.append((name, experience, skill, location))

# Step 3: Input job role requirement
print("\nEnter Job Role Requirement")
min_exp = int(input("Enter minimum experience (in years): "))
req_skill = input("Enter required skill: ")
req_loc = input("Enter preferred location: ")

# Step 4: Check and print matching candidates
found = False
print("\nMatching Candidates:")
for employee in employees:
    name, experience, skill, location = employee
    if experience >= min_exp and skill == req_skill and location == req_loc:
        print(employee)
        found = True

if not found:
    print("No such candidate")

Enter No of records: 3

Enter Details of employee-1
Enter applicant name: soban ali awan
Enter Experience (in years): 2
Enter Skill: python
Enter location: dallas

Enter Details of employee-2
Enter applicant name: shah hassan
Enter Experience (in years): 1
Enter Skill: python
Enter location: germany

Enter Details of employee-3
Enter applicant name: hassnain
Enter Experience (in years): 4
Enter Skill: larval
Enter location: dallas

Enter Job Role Requirement
Enter minimum experience (in years): 2
Enter required skill: python
Enter preferred location: dallas

Matching Candidates:
('soban ali awan ', 2, 'python ', 'dallas')

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [13]:
# write your code here
# Given input lists
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

# Convert lists to sets
set1 = set(ar1)
set2 = set(ar2)
set3 = set(ar3)

# Find common elements using set intersection
common = list(set1 & set2 & set3)

# Optional: reverse to match the example output
common.sort(reverse=True)

# Print result
print("Common elements:", common)

Common elements: [80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [14]:
# write your code here
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"

vowels = set('aeiouAEIOU')
unique_vowels = set()

for char in vowels:
  if char in Str1:
    unique_vowels.add(char)

print("No of unique vowels-",len(unique_vowels))

No of unique vowels- 6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [15]:
# write your code here
# Take input from user
user_input = input("Enter a string: ")

# Use set to find unique characters
unique_chars = set(user_input)

# Check if there are exactly 2 unique characters
if len(unique_chars) == 2:
    print("Yes")
else:
    print("No")

Enter a string: sososo
Yes

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [ ]:
# write your code here
# Given input list of arrays
arrays = [
    [1, 2, 2, 4, 3, 6],
    [5, 1, 3, 4],
    [9, 5, 7, 1],
    [2, 4, 1, 3]
]

# Use a set to store all unique elements from all arrays
union_set = set()

# Loop through each array and update the set
for arr in arrays:
    union_set.update(arr)

# Convert to sorted list (optional)
result = sorted(list(union_set))

# Print result
print("Union of arrays:", result)

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [16]:
# write your code here
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
print(list(set(lst1) & set(lst2)))

[9, 26, 11, 28]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [17]:
# write your code here
# Input dictionary
test_dict = {
    "CampusX": [5, 7, 9, 4, 0],
    "is": [6, 7, 4, 3, 3],
    "Best": [9, 9, 6, 5, 5]
}

# Start with no key and 0 unique values
max_count = 0
key_with_max = ""

# Go through each item in the dictionary
for key in test_dict:
    # Remove duplicates using set
    unique_values = set(test_dict[key])

    # Count how many unique values
    count = len(unique_values)

    # Check if this is the largest so far
    if count > max_count:
        max_count = count
        key_with_max = key

# Print the result
print(key_with_max)

CampusX

### `Q2`: Replace words from Dictionary. Given String, replace it’s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [18]:
# write your code here
# Input string and replacement dictionary
test_str = 'CampusX best for DS students.'
repl_dict = {"best": "is the best channel", "DS": "Data-Science"}

# Split the string into words
words = test_str.split()

# Replace words if they exist in the dictionary
for i in range(len(words)):
    # Remove punctuation from word (like '.') if needed for clean matching
    word = words[i].strip('.')

    # Check if word is in dictionary
    if word in repl_dict:
        # Add punctuation back if needed
        if words[i].endswith('.'):
            words[i] = repl_dict[word] + '.'
        else:
            words[i] = repl_dict[word]

# Join the updated words back into a string
result = ' '.join(words)

# Print the result
print(result)

CampusX is the best channel for Data-Science students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [ ]:
# write your code here
# Given input
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]

# Result list to store dictionaries
result = []

# Loop over values in chunks of key_list size
for i in range(0, len(test_list), len(key_list)):
    # Create key-value pairs using zip()
    temp = dict(zip(key_list, test_list[i:i+len(key_list)]))
    result.append(temp)

# Print the result
print(result)

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [19]:
# write your code here
# Given input
tuple_list = [("akash", 10), ("gaurav", 12), ("anand", 14),
              ("suraj", 20), ("akhil", 25), ("ashish", 30)]

# Create dictionary
result = {}

# Loop through each tuple
for key, value in tuple_list:
    result[key] = [value]  # Put value inside a list

# Print result
print(result)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [20]:
# write your code here
# Given input
input_dict = {'c': [3], 'b': [12, 10], 'a': [19, 4]}

# Step 1: Sort the dictionary by keys
# Step 2: Sort the value list for each key
sorted_dict = {key: sorted(value) for key, value in sorted(input_dict.items())}

# Print result
print(sorted_dict)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}