<a href="https://colab.research.google.com/github/SobanAliAwan/PYTHON-FUNDAMENTALS-2/blob/main/Python_Fundamentals_2_(Session_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.LISTS

* What are lists
* Lists vs arrays
* Characteristics of a list
* How to create a list
* Access items from a list
* Editing items in a list
* Deleting items in a list
* Operations on lists
* Functions on list

In [2]:
# Lists are data types where you can store multiple items under 1 name.
# Lists act like dynamic arrays which means you can add more items on a fly
l = [20, 'soban', 37.75, [1,2,3]]
print(l[0])
print(l[1])
print(l[2])
print(l[3])

20
soban
37.75
[1, 2, 3]

LISTS VS ARRAYS

In [4]:
# Arrays are statics while list are dynamic
# Arrays are homogenous means they can store only one type of data type at a time while list are hetrogenous
# Arrays have faster rate of execution while lists have slower rate of execution due to dynamic nature
# List are more memory ocuping then arrays
L = [1,2,3]
print(id(L))
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))
print(id(1))
print(id(2))
print(id(3))

134432639738432
10757736
10757768
10757800
10757736
10757768
10757800

How lists are stroed in memory

In [5]:
# Lists are stored in memory in the form of referential array which stores refrences/adresses/pointers of conatiners created in memory

Characteristics of a list
* ordered
* Changable/Mutable
* Hetrogenous
* Can have duplicates
* Are dynamic
* Can be nested
* Items can be accessed
* Can contain any kind of object in python

In [9]:
l1 = [1,2,3]
l2 = [3,2,1]

l1 == l2 # Fase although list items are same but order of list items are not same

False

In [10]:
l1 = [1,2,3,1,1] # lists can have duplicate items unlike array which can not hold repitation

In [12]:
l1 = [1,2,'3',[4,5,6]] # list can be nested

CREATING A PYTHON LIST

In [15]:
# Empty list
print([])

# 1D homo
print([1,2,3])

# 2d list
print([1,2,3,[4,5,6]])

# 3D list
print([ [1, 2], [3, 4] ], [ [5, 6], [7, 8] ], [ [9, 10], [11, 12] ])

# Hetrogenous list
print([1,2,True,5.5,5+6j,'Hello'])

# Using typeconversion
print(list('Hello'))

[]
[1, 2, 3]
[1, 2, 3, [4, 5, 6]]
[[1, 2], [3, 4]] [[5, 6], [7, 8]] [[9, 10], [11, 12]]
[1, 2, True, 5.5, (5+6j), 'Hello']
['H', 'e', 'l', 'l', 'o']

ACCESSING ITEMS FROM A LIST

In [18]:
# Indexing
A= [ [1, 2], [3, 4] ], [ [5, 6], [7, 8] ], [ [9, 10], [11, 12] ]
print(A[0][0][1])

# Slicing
A= [ [1, 2], [3, 4] ], [ [5, 6], [7, 8] ], [ [9, 10], [11, 12] ]
print(A[1:2:1])

2
([[5, 6], [7, 8]],)

ADDING ITEMS TO A LIST

In [25]:
l = [1,2,3,4,5]

# APPEND FUNCTION
# ADD ONE ITEM AT THE END OF THE LIST
l.append([6,7,8])
print(l)
l.append('ISLAMABAD')
print(l)

[1, 2, 3, 4, 5, [6, 7, 8]]
[1, 2, 3, 4, 5, [6, 7, 8], 'ISLAMABAD']

In [26]:
l = [1,2,3,4,5]
# EXTEND FUNCTION
# ADD MORE THAN ONE ITEMS AT THE END OF THE LIST
l.extend([6,7,8,9,10])
print(l)
l.extend(['ISLAMABAD'])
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'ISLAMABAD']

In [29]:
l = [1,2,3,4,5]
# IINSERT FUNCTION
# ADD ITEM IN THE DESIRED LOCATION OR INDEX
l.insert(2,100)
print(l)

[1, 2, 100, 3, 4, 5]

EDITING ITEMS IN A LIST

In [32]:
l = [1,2,3,4,5]
# EDITING WITH INDEXING
l[-1] = 500
print(l)

# EDITING WITH SLICING
l[1:4] = [200,300,400]
print(l)

[1, 2, 3, 4, 500]
[1, 200, 300, 400, 500]

DELETING ITEMS FROM A LIST

In [35]:
# DEL
l = [1,2,3,4,5]
del l[1:3]
print(l)

[1, 4, 5]

In [37]:
# REMOVE
# delete item by value wise
l = [1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [39]:
# POP
# DELETE ITEM BY INDEX NUMBER
l = [1,2,3,4,5]
l.pop(3)
print(l)

[1, 2, 3, 5]

In [1]:
# CLEAR
# EMPTIMIZE THE LIST
l = [1,2,3,4,5]
l.clear()
print(l)

[]

LIST OPERATORS
* ARITHMETAIC OPERATORS
* MEMBERSHIP OPERATORS
* LOOP

In [5]:
# Arithematic operators (+,*)
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
print(l1 + l2)
print(l1 * 2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [7]:
# Membership operator
# in/not in
l1 = [1,2,3,4,5]
l2 = [1,2,3,[4,5]]
print(5 in l1)
print(5 not in l1)
print(5 in l2)
print(5 not in l2)

True
False
False
True

In [10]:
l1 = [1,2,3,4,5]
l2 = [1,2,3,[4,5]]
A= [ [1, 2], [3, 4] ], [ [5, 6], [7, 8] ], [ [9, 10], [11, 12] ]

for i in l1:
  print(i)

for i in l2:
  print(i)

for i in A:
  print(i)

1
2
3
4
5
1
2
3
[4, 5]
[[1, 2], [3, 4]]
[[5, 6], [7, 8]]
[[9, 10], [11, 12]]

FUNCTIONS IN LISTS

In [11]:
# len/max/min/sorted
l1 = [1,2,3,4,5]
print(len(l1))
print(max(l1))
print(min(l1))
print(sorted(l1)) # Print in ascending order
print(sorted(l1,reverse=True)) # Print in descending order

5
5
1
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [14]:
# Count
l1 = [1,2,3,3,4,5]
print(l1.count(3))

2

In [19]:
# Index
l1 = [1,2,3,4,5]
l1.index(2)

1

In [21]:
# REVERSE
l1 = [1,2,3,4,5]
l1.reverse() #permanently reverse the list
print(l1)

[5, 4, 3, 2, 1]

In [24]:
# sort vs sorted
# sort is permanent and sorted is not permanent
l1 = [1, 2, 3, 4, 5]
print(l1)             # Prints original list
print(sorted(l1))     # Returns a new sorted list (non-permanent)
print(l1)             # Original list remains unchanged
l1.sort()             # Sorts the list in place (permanent)
print(l1)             # Now the list is sorted

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [26]:
# Copy
l = [1, 2, 3, 4, 5]
print(l)
print(id(l))
l1 = l.copy()
print(l1)
print(id(l1))
# Hence not a permanent function

[1, 2, 3, 4, 5]
140632969484480
[1, 2, 3, 4, 5]
140632969494272

LIST COMPREHENSION IN PYTHON

In [27]:
# LIST COMPREHENSION PROVIDE A COCISE WAY OF CREATING A LIST
# NEWLIST = {expression FOR item IN iterable IF condition == True }
# More time efficient and space efficient than loops
# require fewer lines of code
# Transform iterative statement into a formula

In [30]:
# Add 1 to 10 numbers to a list
l = []

for i in range (1,11):
  l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
l = [i for i in range(1,11)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
# Scalar multiplication on a vector
v = [2,3,4]
s= -3

x = []
for i in v:
  x.append(i * s)

print(x)

[-6, -9, -12]

In [37]:
v = [2,3,4]
s= -3
[s * i for i in v]

[-6, -9, -12]

In [39]:
# squares of a list
v = [2,3,4]
[i ** 2 for i in v]

[4, 9, 16]

In [41]:
# Print all the numbers divisible by 5 fro 1 to 50
[i for i in range(1,51) if i % 5 == 0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [43]:
# Find laguages which start with letter p
languages = ['python','r','php','java','c']
[language for language in languages if language.startswith('p')]

['python', 'php']

In [45]:
# Nested if with if comprehension
basket = ['apple','mango','cherry','banana']
my_fruits = ['apple','kiwi','grape','banana']

[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [49]:
# A 3x3 matrix using list comprehension
[[i * j for i in range(1,4)]  for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [51]:
# cartesian product
l1 = [1,2,3,4]
l2 = [5,6,7,8]

[i *j for i in l1 for j in l2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

2 WAYS TO TRAVERSE A LIST
* itemwise
* indexwise

In [52]:
# itemwsie
l1 = [1,2,3,4]
for i in l1:
  print(i)

1
2
3
4

In [54]:
# Indexwise
l1 = [1,2,3,4]
for i in range(0,len(l1)):
  print(l1[i])

1
2
3
4

ZIP FUNCTION

In [58]:
# The zip() function joins two or more lists (or any iterables) together element by element into pairs (tuples).
# Itâ€™s like zipping up a jacket, where each side has teeth, and zip() joins them together!
# Example:

names = ["Ali", "Sara", "Zain"]
ages = [25, 22, 30]

zipped = zip(names, ages)

print(list(zipped))

[i * j for i,j in zip(names,ages)]

[('Ali', 25), ('Sara', 22), ('Zain', 30)]

['AliAliAliAliAliAliAliAliAliAliAliAliAliAliAliAliAliAliAliAliAliAliAliAliAli',
 'SaraSaraSaraSaraSaraSaraSaraSaraSaraSaraSaraSaraSaraSaraSaraSaraSaraSaraSaraSaraSaraSara',
 'ZainZainZainZainZainZainZainZainZainZainZainZainZainZainZainZainZainZainZainZainZainZainZainZainZainZainZainZainZainZain']